node_modules/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.DS_Store
dist/
build/
*.log
*.sqlite
*.db
yci_sqlite.db
backend/data/legacy_uploads/
backend/arctic_data_source/
coverage/
.idea/
.vscode/
.git/
temp*/
